.section-bio__uname-container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 425px) {
    .section-bio__uname-container{
        gap:10px;
    }
}