.section-bio__uname{
    --color: var(--coloron-primary, #555);

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color);
    font-weight: 500;
    font-size: 42px;
    line-height: 1.15;
    
    max-width:12ch;
    text-overflow:ellipsis; 
    overflow: hidden;
    /* white-space: nowrap; */
    /* ヾ(-_- )ゞ In case of extremely long name was inserted ヾ(-_- )ゞ  */
    word-wrap: break-word;
}

@media screen and (max-width:1024px) {
    .section-bio__uname{
        font-size: 36px;
    }    
}

@media screen and (max-width: 425px) {
    .section-bio__uname{
        max-width: unset;
        font-size: 27px;
        padding-left: 22px;
    }    
}