.section-bio__uactions{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .section-bio__uactions{
        margin-top: 34px;
    }
}