.popup__btn-close{
    --transition: var(--hover-transition, 'all 1s ease');
    position: absolute;
    right:0;
    top:0;
    transform: translate(120%, -120%);
    cursor: pointer;
    transition: var(--transition);
}

@media screen and (max-width:555px) {
    .popup__btn-close{
        transform: translate(0, -120%);
    }
    
}

.popup__btn-close:hover{
    opacity: .6;
}