.place{
    --bg-color: var(--coloron-primary, #555);

    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    /* max-height: 361px; */
    max-width: 282px;
    background-color: var(--bg-color);    
}